h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Lora", serif;
}

p {
  font-family: "Lato", sans-serif;
}

:root {
  --app-white: #f5e8e1;

  --app-teal: #007991;
  --app-purple: #a1869e;
  --app-yellow: #fdf7a3;
  --app-peach: #f4bc8b;
  --app-black: #0c0a3e;
  --app-teal-50: #00799179;
  --app-shadow: rgba(0, 0, 0, 0.404);

  --app-background: #574c44;
  --app-green: #61988e;
  --app-green-25: #61988e42;
  --app-blue: #5db7de;
}

article {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  min-height: 100vh;
}

/*
 * Button Styles
 */
button.ctaButton {
  padding: 0.5rem 2em 0.75em 2em;
  border-radius: 15px;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 900;
  max-height: 2.25em;
  background-color: var(--app-green);
  color: var(--app-white);
  border: none;
  box-shadow: 0px 2px 5px 0px darkslategrey;
}

button.ctaButton:active {
  box-shadow: 0px 1px 3px 0px var(--app-black) inset;
  font-size: 1.25em;
  padding: 0.75rem 2em 0.8em 2em;
}

/*
 * Header Styles 
 */

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-white);
  padding: 10px;
  z-index: 100;
}

header img {
  height: 35px;
}

footer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 10px;
}

footer img {
  height: 1em;
  margin-bottom: 5px;
}

footer div.linkRow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

footer a:active {
  color: var(--app-black);
}

footer svg {
  width: 3em;
  height: 3em;
  fill: var(--app-peach);
}

footer a:active svg {
  width: 2.7em;
  height: 2.7em;
  color: var(--app-black);
  padding: 0 0.3em;
}

.noScroll {
  overflow: auto;
}

/*
 * MENU ELEMENTS
 */
#sideMenu {
  position: relative;
  overflow: hidden;
  z-index: 99;
}

#sideMenu nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--app-white);
  width: 50%;
  height: 100%;
  color: var(--app-background);
  transition: transform 400ms ease-in-out;
}

#sideMenu nav.hidden {
  transform: translateX(100%);
}

#sideMenu nav ul {
  padding: 5em 1em;
  text-align: right;
  letter-spacing: 0.25em;
}

#sideMenu nav ul li {
  padding: 1em 0;
}

#sideMenu nav ul li a {
  -webkit-tap-highlight-color: var(--app-green-25);
}

#sideMenu nav ul li.selectedPath {
  color: var(--app-green);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: var(--app-shadow);
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}

.overlay.hidden {
  transform: scale(0, 0);
}

/* 
 * Home Elements 
 */

#homePage {
  background-color: black;
}

#homeHero {
  position: relative;
  height: 250vh;
  padding-bottom: 5em;
}

/* HOME HEADER */

#homeHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: var(--app-white);
  text-align: center;
  z-index: 10;
}

#homeHeader img {
  height: 40%;
  margin: 10px 0;
}

.homeHeaderTitle {
  padding: 5% 0;
}

#homeHeader > h3,
#homeHeader > h4 {
  line-height: 1.5rem;
  font-weight: 400;
  padding: 1rem 0;
}

#ticketButton {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
}

/* Parallax Elements */

#homeHeroBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

#homeHeroImg {
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/6752432/pexels-photo-6752432.jpeg"),
    linear-gradient(180deg, var(--app-background) 50%, var(--app-green));
  background-blend-mode: soft-light, luminosity;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#clouds {
  position: absolute;
  top: -2em;
  width: 100%;
  height: 25vh;
  display: flex;
  will-change: width;
  transform: translateX(0);
  z-index: 50;
  overflow-x: hidden;
}

.cloud {
  width: 50%;
  height: calc(50vw * 0.5453125);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

#homeHeroBorder {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50vh;
  will-change: transform;
  transform: translateY(0);
  z-index: 50;
}

#homeHeroBorderImg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

/* LINEUP */

#lineupContainer {
  position: relative;
  z-index: 10;
  height: 100vh;
}

#lineup {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--app-white);
  color: var(--app-background);
  padding: 10px 15px;
  overflow-wrap: initial;
  box-shadow: 0 30px 40px 40px var(--app-white);
  border-radius: 25px;
}

#lineup h2 {
  padding: 1rem 0;
  font-size: 1.25rem;
  z-index: 99;
}

#lineup ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lineup li {
  display: flex;
  align-items: center;
  font-weight: 400;
  width: min-content;
  white-space: break-space;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* EVENT BOARD */

#eventBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-bottom: 10vh;
  z-index: 98;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  margin: 1em;
}

.eventBackground {
  width: 100%;
  aspect-ratio: 1;
  max-width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--app-peach);
  border-radius: 50%;
}

.event h5 {
  color: var(--app-white);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

/* Map */
#map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2em;
  background-color: black;
  z-index: 98;
}

#map img {
  border: 3px solid var(--app-green);
  border-radius: 10px;
}

/*
 * Ticket Elements
 */

#ticketsPage {
  background-color: var(--app-white);
}

.pageHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--app-teal);
}

#ticketOptionsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.ticketOption {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--app-teal);
  border-radius: 10px;
  margin-bottom: 1em;
}

.pricingInfo {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5px;
}

.pricingInfo h2 {
  color: var(--app-teal);
  font-weight: 400;
}

.pricingInfo h3 {
  flex: 1;
  text-align: right;
  font-size: 1.75rem;
  color: var(--app-peach);
}

.ticketOption ul li::before {
  content: "• ";
  color: var(--app-peach);
}

#ticketInstructions {
  padding: 10px;
  text-align: justify;
  line-height: 1.5rem;
}

/*
 * Lineup Elements
 */

#lineupPage {
  background-color: var(--app-white);
}

#lineupPoster {
  padding: 10px;
}
