h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Lora", serif;
}

p {
  font-family: "Lato", sans-serif;
}

:root {
  --app-white: #f5e8e1;

  --app-teal: #007991;
  --app-accent: #f679e5;
  --app-yellow: #fdf7a3;
  --app-peach: #f4bc8b;
  --app-black: #0c0a3e;
  --app-teal-50: #00799179;
  --app-shadow: rgba(0, 0, 0, 0.404);

  --app-background: #574c44;
  --app-sand: #d6b6a7;
  --app-green: #61988e;
  --app-green-25: #61988e42;
  --app-blue: #5db7de;
}

article {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  min-height: 100vh;
}

/*
 * Button Styles
 */
button.ctaButton {
  padding: 0.5rem 2em 0.75em 2em;
  border-radius: 15px;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 900;
  max-height: 2.25em;
  background-color: var(--app-green);
  color: var(--app-white);
  border: none;
  box-shadow: 0px 2px 5px 0px darkslategrey;
  letter-spacing: 0.25em;
}

button.ctaButton:active {
  box-shadow: 0px 1px 3px 0px var(--app-black) inset;
  font-size: 1.25em;
  padding: 0.75rem 2em 0.8em 2em;
}

/*
 * Header Styles 
 */

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-white);
  padding: 10px;
  z-index: 100;
  box-shadow: 0 1px 5px 2px var(--app-shadow);
}

header img {
  height: 35px;
}

footer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 10px;
}

footer img {
  height: 1em;
  margin-bottom: 5px;
}

footer div.linkRow {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
}

footer svg {
  width: 3em;
  height: 3em;
  fill: var(--app-green);
}

.noScroll {
  overflow: auto;
}

/*
 * MENU ELEMENTS
 */
#sideMenu {
  position: relative;
  overflow: hidden;
  z-index: 99;
}

#sideMenu nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--app-white);
  width: 50%;
  height: 100%;
  color: var(--app-background);
  transition: transform 400ms ease-in-out;
  max-width: 250px;
}

#sideMenu nav.hidden {
  transform: translateX(100%);
}

#sideMenu nav ul {
  padding: 5em 1em;
  text-align: right;
  letter-spacing: 0.25em;
}

#sideMenu nav ul li {
  padding: 1em 0;
}

#sideMenu nav ul li a {
  -webkit-tap-highlight-color: var(--app-green-25);
}

#sideMenu nav ul li.selectedPath {
  color: var(--app-green);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: var(--app-shadow);
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}

.overlay.hidden {
  transform: scale(0, 0);
}

.loadingOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--app-background);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid var(--app-sand); /* Light grey */
  border-top: 10px solid var(--app-white); /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@media screen and (min-width: 600px) {
}

/* 
 * Home Elements 
 */

#homePage {
  background-color: black;
  overflow: hidden;
}

#homeHero {
  position: relative;
  height: 250vh;
  padding-bottom: 5em;
  min-height: 1800px;
}

/* HOME HEADER */

#homeHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: var(--app-white);
  text-align: center;
  z-index: 10;
}

.homeHeaderImg {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: 10px 0;
}

#homeHeader img {
  height: 100%;
  aspect-ratio: 1;
}

.homeHeaderTitle {
  padding: 5% 0;
}

#homeHeader > h3,
#homeHeader > h4 {
  line-height: 1.5rem;
  font-weight: 400;
  padding: 1rem 0;
}

#ticketButton {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100vw;
}

/* Parallax Elements */

#homeHeroBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

#homeHeroImg {
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/6752432/pexels-photo-6752432.jpeg"),
    linear-gradient(180deg, var(--app-background) 50%, var(--app-green));
  background-blend-mode: soft-light, luminosity;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#clouds {
  position: absolute;
  top: 0;
  width: 100vw;
  height: calc(50vw * 0.45);
  display: flex;
  will-change: width;
  transform: translateX(0);
  z-index: 50;
  overflow: hidden;
}

.cloud {
  width: 50%;
  height: calc(50vw * 0.36);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

#homeHeroBorder {
  position: absolute;
  bottom: -2em;
  width: 100%;
  height: 50vh;
  will-change: transform;
  transform: translateY(0);
  z-index: 50;
}

#homeHeroBorderImg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
}

/* LINEUP */

#lineupContainer {
  position: relative;
  align-items: center;
  z-index: 10;
  height: 100vh;
  z-index: 98;
}

#lineup {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--app-background);
  width: 100%;
}

#lineup img {
  position: absolute;
  width: 125vw;
}

/* EVENT BOARD */

#eventBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  padding-bottom: 10vh;
  z-index: 98;
}

#eventBoard div.eventSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 10vh;
}

#activitiesSection {
  padding-top: 3em;
  background-color: var(--app-white);
  color: var(--app-black);
}

.event {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  position: relative;
  margin: 2em 0;
}

.eventBackground {
  width: 100%;
  aspect-ratio: 1;
  max-width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--app-peach);
  border-radius: 10%;
  margin: 1em 0;
}

.event h5 {
  color: var(--app-white);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.event p {
  color: var(--app-white);
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 2em;
}

#activitiesSection .eventBackground {
  border-radius: 50%;
  color: var(--app-black);
}

#activitiesSection .event p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--app-black);
  margin-bottom: 0;
}

/* Partner */

/* Map */

#map {
  display: flex;
  width: 100%;
  justify-content: center;
}

#map div.mapBackground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--app-green);
  z-index: 98;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 5px 5px var(--app-green);
  max-width: 500px;
}

#map h5 {
  font-size: 1.2rem;
  width: 100%;
  color: var(--app-white);
}

@media screen and (min-width: 600px) {
  #homeHero {
    height: 275vh;
  }

  #homeHeader img {
    max-width: 50vh;
  }

  .homeHeaderTitle {
    padding: 1em 0;
  }

  #homeHeader > h3,
  #homeHeader > h4 {
    width: 60%;
  }

  #lineup {
    width: 60%;
  }

  #clouds {
    position: absolute;
    top: -7em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    will-change: transform;
    transform: translateX(0);
    overflow: hidden;
  }

  .cloud {
    width: 25%;
    aspect-ratio: 1.5453125;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1.5;
    z-index: 50;
  }

  .cloud.backgroundCloud {
    z-index: 5;
  }

  #homeHeroBorder {
    height: 75vw;
  }

  #homeHeroBorderImg {
    background-size: cover;
  }
}

@media screen and (min-width: 1100px) {
  #homeHeader > h3,
  #homeHeader > h4 {
    width: 50%;
  }

  #lineup {
    width: 50%;
  }

  #homeHeroBorder {
    height: 60vw;
  }

  #eventBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .event {
    width: 45%;
  }

  #map {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2em;
    background-color: black;
    z-index: 98;
  }

  #map h5 {
    font-size: 1.2rem;
    width: 50%;
    color: var(--app-white);
  }
}

/*
 * Ticket Elements
 */

#ticketsPage {
  background-color: var(--app-white);
  color: var(--app-background);
}

.pageHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

#ticketOptionsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.ticketOption {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--app-background);
  border-radius: 10px;
  margin-bottom: 1em;
  max-width: 600px;
}

.pricingInfo {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5px;
}

.pricingInfo h2 {
  font-weight: 400;
}

.pricingInfo h3 {
  flex: 1;
  text-align: right;
  font-size: 1.75rem;
  color: var(--app-blue);
}

.ticketOption ul li::before {
  content: "• ";
  color: var(--app-blue);
}

#ticketInstructions {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: justify;
  line-height: 1.5rem;
}

#ticketInstructions p {
  max-width: 600px;
}

/*
 * Lineup Elements
 */

#lineupPage {
  background-color: var(--app-white);
}

#lineupPoster {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2em;
}

#lineupPoster img {
  max-width: 600px;
}

/* 
 * Festival Info Page 
 */

#FestivalInfoPage {
  background-color: var(--app-white);
  color: var(--app-background);
}

#FestivalInfoHeader {
  position: relative;
  height: 25vh;
  max-height: 500px;
}

#FestivalInfoHeader h1 {
  position: relative;
  color: var(--app-white);
}

#FestivalInfoHeaderBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

#FestivalInfoHeaderBackgroundImg {
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/6324373/pexels-photo-6324373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"),
    linear-gradient(180deg, var(--app-background) 50%, var(--app-green));
  background-blend-mode: soft-light, luminosity;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#FestivalInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}

#FestivalInfo p {
  max-width: 600px;
}

.custom-shape-divider-top-1651719041 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

@media screen and (min-width: 600px) {
  #FestivalInfo {
    align-items: center;
    padding: 2em;
  }
}
